

nav {
  background-color: #0e0d0d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 10px 1px 25px rgb(70, 66, 67);
  align-items: center;
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.search input {
  background-color: #555;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 0 10px;
  padding: 5px;
  width: 200px;
}

@media only screen and (max-width: 768px) {
 
  .menu-toggle {
    display: block;
  }
  
  .navigation {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  
  .navigation li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  
  .navigation li a {
    color: #fff;
    text-decoration: none;
  }
  
  .search {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search input {
    width: 100%;
    margin: 5px 0;
  }
  
  nav.responsive {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav.responsive .logo {
    margin-bottom: 10px;
  }
  
  nav.responsive .menu-toggle {
    margin-bottom: 10px;
  }
  
  nav.responsive .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
