@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
	scroll-behavior: smooth;

}

.country-app{
	background: #2e5a58; 
	scroll-behavior: smooth;
	overflow: hidden; /* Hide scrollbars */
	margin-top: 100px;

}

.cards_wrap{
	padding: 70px 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 20%;
	position: relative;
	perspective: 1000px;
}

.cards_wrap .card_inner{
	background: #014441; 
	border-radius: 15px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.4),
    0 0 40px rgba(0, 0, 0, 0.5);
	transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #ffa900;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 18px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #bccccf;
	font-size: 12px;
	font-weight: 600;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film {
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
	display: none; /* Hide the <p> tag by default */
  }
  
  .cards_wrap .card_item:hover .film {
	display: block; /* Display the <p> tag on hover */
  }
  




@media screen and (max-width: 1024px){
	.cards_wrap{
		margin-top: 40px;
		padding: 10px;
	}
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap{
		margin-top: 100px;
		padding: 10px 20px;
	}
	.cards_wrap .card_item{
		width: 50%;
		
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.country-app{
		margin-top: 100px;
	}
	.cards_wrap{
		padding: 40px 10px;
	}
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}



