@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
	scroll-behavior: smooth;

}

.country-app{
	background-color: rgb(209, 204, 204);
	scroll-behavior: smooth;
	overflow: hidden; /* Hide scrollbars */
	margin-top: 80px;

}
.wrapper .header{
	width: 100%;
	height: 50px;
	background: #c993a0;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
	background-color: rgb(46, 42, 42);

}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 20%;
}

.cards_wrap .card_inner{
	background: #0a090a;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.4),
    0 0 40px rgba(0, 0, 0, 0.5);
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #e36686;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 18px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #29c3e2;
	font-size: 12px;
	font-weight: 600;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap{
		margin-top: 40px;
	}
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap{
		margin-top: 100px;
	}
	.cards_wrap .card_item{
		width: 50%;
		
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.country-app{
		margin-top: 100px;
	}
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}



