.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(14, 15, 15);
}
.filter .form-control input{
background-color:transparent ;
border: none;
outline: none;
padding: 8px;
border-radius: 5px;
color: white;
}
.filter .form-control input::placeholder{
    color: white;
}